.amazon-header{
  background-color: rgb(19, 25, 33);
  color: white;
  padding: 0 15px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px
}

.amazon-header-left-section{
  /* display: block; */
  width: 180px;
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}

.header-link{
  display: inline-block;
  padding: 6px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  margin: 15px 0;
  border: 1px solid rgb(19, 25, 33);
}

.header-link:hover{
  border: 1px solid white;
  /* padding: -px; */
  /* background-color: bisque; */
}

.amazon-logo{
  width: 100px;
  margin-top: 5px;
}
.amazon-mobile-logo{
  display: none;
}

@media(max-width: 575px){
  .amazon-logo{
    display: none;
  }
  .amazon-mobile-logo{
    display: block;
    width: 35px;
    margin-top: 5px;
  }
}

.amazon-header-middle-section{
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-box{
  flex: 1;
  width: 0;
  height: 38px;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  border: none;
  padding-left: 15px;
  /* flex-shrink: 0; */
}

.search-btn{
  background-color: rgb(254, 189, 105);
  border: none;
  border-radius: 0 4px 4px 0;
  height: 40px;
  width: 45px;
  flex-shrink: 0;
  cursor: pointer;
}
.search-icon{
  /* object-fit: cover; */
  height: 22px;
  /* width: 30px; */
}

.amazon-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media(max-width: 800px){
  .amazon-header-right-section{
    justify-content: center;
  }
}

@media(max-width: 350px){
  .amazon-header-right-section{
    width: 150px;
  }
}

@media(max-width: 310px){
  .amazon-header-right-section{
    width: 145px;
  }
}

.orders-link{
  color: white;
}
.returns-text{
  display: block;
  font-size: 13px;
}
.orders-text{
  font-size: 15px;
  font-weight: bold;
  display: block;
}

.cart-link{
  /* display: flex; */
  align-items: center;
  position: relative;
}
.cart-quantity{
  /* display: block; */
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 22px;
  width: 26px;
  text-align: center;
}
.cart-icon{
  width: 50px;
}

.cart-text{
  margin-top: 12px;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
}

@media(max-width: 350px){
  .cart-text{
    display: none;
  }
}